.modal-content{
    width: 130%;
    margin-left: -15%;
} 

.footer-createBtnAssign {
    width: 100%;
}

.btnAssign {
    width: 25%;
}
.btn-new {
    margin-left: 1%;
}
.list-assignment {
    margin-top: 2%;
}